<%- include("./fragments/head") %>

<body>

  <h1>Nuevo ingreso</h1>

  <form action="nuevo-ingreso/guardar" method="POST" id="formNvoIngreso">
    <div class="itemInputNvoIngreso">
      <input type="text" name="concept" id="concept" placeholder="En concepto de">
    </div>
    <div class="itemInputNvoIngreso">
      $<input type="number" name="value" placeholder="Valor" min="0">
    </div>
    <div class="itemInputNvoIngreso">
      <textarea name="obs" cols="30" rows="10" placeholder="observaciones"></textarea>
    </div>
    <div>
      <a href="/main">
        <button type="button">
          Cancelar
        </button>
      </a>
    </div>
    <button type="submit">
      Guardar
    </button>
  </form>

  <%- include("./fragments/scripts") %>
</body>

</html>