<%- include("./fragments/head") %>

<body>

  <h3>Nuevo egreso</h1>

  <form action="/nuevo-egreso/guardar" method="POST" id="formNvoEgreso">
    <div class="itemInputNvoEgreso">
      <select name="cat" id="cat">
        <option selected>--Elige una categoría--</option>
        <% cats.forEach(cat => { %>
        <option value="<%= cat.catName %>"><%= cat.catName %></option>
        <% }) %>
      </select>
    </div>
    <div class="itemInputNvoEgreso">
      $<input type="number" name="value" placeholder="Valor" min="0">
    </div>
    <div class="itemInputNvoEgreso">
      <textarea name="obs" cols="30" rows="10" placeholder="observaciones"></textarea>
    </div>
    <div>
      <a href="/main">
        <button type="button">
          Cancelar
        </button>
      </a>
    </div>
    <button type="submit">
      Guardar
    </button>
  </form>

  <%- include("./fragments/scripts") %>
</body>

</html>