<%- include("./fragments/head") %>

<body>

  <h1>Bienvenido a Smart Wallet</h1>

  <a href="/auth/google">
    Inicia sesión con tu cuenta de google
  </a>

  <%- include("./fragments/scripts") %>
</body>

</html>