<%- include("./fragments/head") %>

<body>

  <h1>¡Hola <%= user.firstName %>, bienvenido a Smart Wallet!</h1>

  <p>Voy a hacerte algunas preguntas para que juntos podamos gestionar tus finanzas de la mejor manera</p>

  <P>¿Empezamos?</P>

  <a href="/settings">VAMOS!</a>

  <%- include("./fragments/scripts") %>
</body>

</html>