:root {
  --eggplant: #634c5eff;
  --eggplant-2: #94708c;
  --sage: #d3c8a0ff;
  --emerald: #51d38cff;
  --catawba: #562931ff;
  --dark-jungle-green: #0a2723ff;
  --black: #000000ff;
  --royal-blue-dark: #16266bff;
  --marigold: #f1a921ff;
  --primary-font: "Prata", serif;
  --styled-font: "Rouge Script", cursive;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  color: var(--eggplant);
}
.body {
  background-color: var(--marigold);
  min-height: calc(100vh - 14vh);
  font-family: var(--primary-font);
  color: var(--royal-blue-dark);
  text-align: center;
}

/* Página de login */
.container-index,
.body-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container-titulo-pantalla-principal {
  color: var(--eggplant);
}
.titulo-pantalla-principal {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: var(--primary-font);
}

.titulo-smart-wallet,
.brand-bienvenida {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--styled-font);
}

.container-logo-pantalla-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.retribucion {
  width: max-content;
  color: var(--eggplant);
  font-size: 0.8rem;
  width: 300px;
  text-align: right;
}
.retribucion:a {
  cursor: pointer;
}
.logo-pantalla-principal,
.img-wallito {
  height: 40vh;
}

.container-link-login {
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  border: none;
  outline: 2px solid var(--eggplant);
  border-radius: 10px;
}
.container-link-login:hover {
  outline: none;
  background-color: var(--eggplant);
}
.container-link-login:hover > .container-logo-texto > span {
  color: #fff;
  font-weight: initial;
  color: var(--marigold);
}
.link-login {
  text-decoration: none;
}
.container-logo-texto {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--eggplant);
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo-google-login {
  width: 25px;
  height: 25px;
}

/* Página de bienvenida */
.body-bienvenida {
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
}
.saludo-user {
  font-weight: bold;
}
.container-saludo-de-bienvenida p {
  font-size: 1.2rem;
}
.before-begin-msg {
  width: 345px;
  margin: 0 auto;
}
/* Button VAMOS */
/* From uiverse.io by @adamgiebl */
.container-btn-lets-go,
.container-btn-avanzar {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.btn-lets-go,
.btn-avanzar {
  text-decoration: none;
  text-align: center;
  width: max-content;
}
.cssbuttons-io-button {
  background: var(--eggplant);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--eggplant);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--eggplant);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--eggplant);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/*  */

.container-img-wallito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Settings page */

.container-form-add-cat {
  max-width: 350px;
  margin: 0 auto;
}
.budget-ask {
  font-weight: bold;
  font-size: 1.2rem;
}
.container-add-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/* Btn Add Cats */
/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button-2 span {
  color: white;
}
.cssbuttons-io-button-2 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--eggplant-2);
  background: linear-gradient(0deg, var(--eggplant), var(--eggplant-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--eggplant);
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button-2 svg {
  margin-right: 6px;
}

.cssbuttons-io-button-2:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--eggplant);
}

.cssbuttons-io-button-2:active {
  box-shadow: 0 0.3em 1em -0.5em var(--eggplant);
}
/*  */

/* Btns de edición de cat */
.btn-cancelar-cambios-cat span {
  color: white;
}
.btn-cancelar-cambios-cat {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: var(--eggplant-2);
  background: linear-gradient(0deg, var(--eggplant), var(--eggplant-2));
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--eggplant);
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.btn-cancelar-cambios-cat svg {
  margin-right: 6px;
}

.btn-cancelar-cambios-cat:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--eggplant);
}

.btn-cancelar-cambios-cat:active {
  box-shadow: 0 0.3em 1em -0.5em var(--eggplant);
}
/*  */

.container-gral-table {
  max-width: 350px;
  margin: 0 auto;
}
.titulo-tabla-cat {
  width: 360px;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.table td {
  color: var(--eggplant) !important;
}

.separador-modal {
  margin: 10px;
}
.btn-mini-table {
  cursor: pointer;
}

/*  */

.container-mi-cuenta {
  margin-right: 60px;
}
