<nav>
  <ul>
    <li><a href="/main">Inicio</a></li>
    <li><a href="/ingresos-del-mes">Ver ingresos del mes</a></li>
    <li><a href="/egresos-del-mes">Ver egresos del mes</a></li>
  </ul>
  <a href="/auth/logout">Logout</a>
</nav>